<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.dao.mapper.RolePermissionMapper">



    <insert id="addRolePermission" parameterType="com.lyf.dao.domain.RolePermission">
        INSERT role_permission values (null ,#{roleId},#{permissionId})
    </insert>

    <delete id="deleteRoleById" parameterType="java.lang.String">
        DELETE FROM role WHERE role_id = #{roleId}
    </delete>


</mapper>